<!DOCTYPE html>
<html>
<head>
    <meta charser="utf-8">
    <title>Удаление оценки</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Подтверждение удаления</h3>
                    </div>
                    <div class="panel-body">
                        <p>Вы уверены, что хотите удалить оценку?</p>
                        <p><strong>Студент:</strong> {{ score.student.fio }}</p>
                        <p><strong>Предмет:</strong> {{ score.student.name }}</p>
                        <p><strong>Оценка:</strong> {{ score.value }}</p>

                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Да, удалить</button>
                            <a href="{% url 'index' %}" class="btn btn-default">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>